# Distribution file for the DeConv project.
# http://www.openengine.dk/wiki/Projects/DeConv

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
git /projects/DeConv https://github.com/OpenEngineDK/projects-DeConv.git
git-dev /projects/DeConv git@github.com:OpenEngineDK/projects-DeConv.git

# required extensions
git /extensions/TexUtils      https://github.com/OpenEngineDK/extensions-TexUtils.git
git /extensions/FreeImage     https://github.com/OpenEngineDK/extensions-FreeImage.git

git-dev /extensions/TexUtils  git@github.com:OpenEngineDK/extensions-TexUtils.git
git-dev /extensions/FreeImage git@github.com:OpenEngineDK/extensions-FreeImage.git

# project data
any /projects/DeConv/data    http://www.openengine.dk/data/images/lena.png
